[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "learningtower"]
	path = learningtower
	url = https://github.com/kevinwang09/learningtower
[submodule "mcvis"]
	path = mcvis
	url = https://github.com/kevinwang09/mcvis
